@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"]!= null)
{
   
    <div class="alert alert-primary" role="alert">
        @TempData["success"]
    </div>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-action="UpSert" asp-controller="Product" class="btn btn-primary">Create Product</a>
        </div>
    </div>
</div>
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
              TITLE
            </th>
            <th>
              ISBN
            </th>
            <th>
               PRICE
            </th>
           @* <th>
               CATEGORY
            </th>*@
        </tr>
    </thead>
    
</table>
@section Script{
    <script src="~/js/product.js"></script>
}